body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
}

header {
    background-color: #1c1c1c;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 80px; /* Increased logo size */
    margin-right: 1rem;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

header .overview {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    font-weight: normal;
}

nav .hamburger-menu {
    position: relative;
    display: inline-block;
}

nav .hamburger-menu i {
    font-size: 2rem;
    cursor: pointer;
}

nav .hamburger-menu .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav .hamburger-menu:hover .dropdown-content {
    display: block;
}

nav .hamburger-menu .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

nav .hamburger-menu .dropdown-content a:hover {
    background-color: #575757;
}

main {
    padding: 2rem;
}

.phases-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.phase {
    flex: 1;
    margin: 1rem;
    min-width: 300px;
}

.data-card {
    background: #1c1c1c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 0.5rem 0;
    text-align: center;
    color: #fff;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: gray; /* Default color */
}

.data-card h3 {
    margin: 0;
    color: #fff;
}

.data-card p {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    font-weight: bold; /* Make TDS values more prominent */
}
